version: "3"

services:
  zoo-backend-python:
    container_name: "zoo-backend-python"
    build: "./zoo-backend/python"
    restart: "always"
    volumes:
      - ./zoo-backend/python:/usr/src/app/
    command: "python ./start_server.py"
  zoo-proxy:
    build: "./zoo-proxy/"
    container_name: "zoo-proxy"
    ports:
     - 80:80
    links:
      - zoo-backend-python:zoo-backend-python
    volumes:
     - ./zoo-frontend/app/:/usr/src/app/
    tty: true
